@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
  -webkit-tap-highlight-color: transparent;
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

input {
  -webkit-appearance: none;
  appearance: none;
}
